body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-top: 0;
  color: #333;
}

#question {
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: bold;
}

#options button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  transition: background-color 0.3s ease;
}

#options button:hover {
  background-color: #45a049;
}

#next-btn, #restart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

#next-btn:hover, #restart-btn:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

.correct-answer{
  margin:1rem;
  font-size: 1.3rem;
}

.hidden {
  display: none;
}

#historial {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#historial h2 {
  color: #333;
  margin-top: 0.3rem;
}

#historial-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#historial-list li {
  margin-bottom: 8px;
  font-size: 14px;
}

#ver-historial-btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4cafaa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#ver-historial-btn:hover {
  background-color: #4595a0;
}

.final-score {
  margin: 1rem;
}